.nav {
  width: 100%;
  background: var(--background-white);
  padding: 20px 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.desktop-header {
  composes: content;
}

.mobile-header {
  composes: content;
  padding: 0 1.5rem;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 36px;
}

.controls {
  display: flex;
  gap: 20px;
}

.mobile-header > .controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.links {
  display: flex;
  gap: 36px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.link,
.link:visited {
  color: var(--neutral-50);
  font-weight: var(--weight-semibold);
  transition: color 200ms ease;
}

.link:hover {
  color: var(--neutral-100);
}

.link-active {
  composes: link;
  color: var(--neutral-100);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.link-active:visited {
  color: var(--neutral-100);
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.mobile-nav-open {
  composes: mobile-nav;
  position: fixed;
  transform: translateX(0);
}

.mobile-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--background-radial-gradient);
  padding: 2rem;
}

.mobile-menu-buttons > button:last-of-type {
  color: var(--neutral-50);
  font-weight: var(--weight-semibold);
  font-size: var(--font-large);
  transition: color 200ms ease;
}

.mobile-menu-buttons > button:last-of-type:hover {
  color: var(--neutral-100);
}

.mobile-nav-open > .mobile-menu-buttons {
  box-shadow: var(--box-shadow);
}

.mobile-menu-buttons > .links {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

@media screen and (min-width: 711px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .desktop-header {
    display: none;
  }
}
