.table {
  width: 100%;
  background: var(--background-white);
  border-collapse: collapse;
  grid-column: 1 / -1;
}

.header th {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  font-size: var(--font-small);
  padding: 1rem 0;
}

.header th:first-child {
  padding-left: 1rem;
}

.header th:last-child {
  padding-right: 1rem;
}

.table tr:hover:not(:first-child) {
  background-color: var(--highlight-clickable-5);
}

.table td {
  padding: 1rem 0;
}

.table td:first-child {
  padding-left: 1rem;
}

.table td:last-child {
  padding-right: 1rem;
}

.name-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px;
  gap: 1rem;
}

.field-and-subfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-and-subfield > span:last-child {
  text-transform: uppercase;
  font-size: var(--font-small);
}

.right,
th.right {
  text-align: right;
}

.rate {
  composes: right;
  display: flex;
  flex-direction: column;
}

.rate > span:last-child {
  text-transform: uppercase;
  font-size: var(--font-small);
}
