.wrapper {
  width: 100%;
}

.select {
  padding: 5px;
  border: none;
  height: 40px;
  width: 100%;
  border: 2px solid var(--primary-blue);
  background-color: var(--white);
}

.label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-blue);
}
