.standard-fieldset {
  border: none;
  background: var(--background-fieldset);
  width: 100%;
  padding: var(--padding-container);
}

.legend {
  line-height: 0;
  font-size: var(--font-medium);
  text-transform: capitalize;
}
