.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--gap);
  grid-auto-columns: minmax(0, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
}

.column a {
  text-decoration: none;
}
