.create-page-header {
  display: flex;
  width: 100%;
  background: var(--background-white);
  justify-content: center;
  padding-bottom: 90px;
  padding-top: calc(var(--gap) / 2);
}

.create-page-header > div {
  max-width: var(--max-width);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.explainer {
  position: absolute;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-blue);
  padding: var(--padding-loan-card);
  align-self: start;
  font-family: var(--sans);
  background: var(--background-white);
  transition: top 0.5s ease 0s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
}

.form > label {
  display: grid;
  grid-template-columns: var(--column-width) 1fr;
  column-gap: var(--gap);
  align-items: center;
}

.form > label > span {
  text-transform: uppercase;
  font-size: var(--font-small);
  letter-spacing: 0.12rem;
  text-align: right;
}
