.create-page-header {
  display: flex;
  width: 100%;
  background: var(--background-white);
  justify-content: center;
  padding-bottom: 90px;
  padding-top: calc(var(--gap) / 2);
}

.create-page-header > div {
  max-width: var(--max-width);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
