.wrapper > fieldset {
    border-radius: var(--border-radius-large);
    max-width: 715px;
    margin: 30px auto;
  }
  
.list {
  list-style-type: none;
  padding: 0;
  font-size: var(--font-small);
}
  
.list > li {
  margin: 14px 0;
}