.wrapper > fieldset {
    border-radius: var(--border-radius-large);
    max-width: 715px;
    margin: 30px auto;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    font-size: var(--font-small);
  }
  
  .list > li {
    margin: 14px 0;
  }
  
  .circle {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .category {
    text-transform: uppercase;
    font-family: var(--sans);
    letter-spacing: 0.12rem;
  }
  
  .COMMUNITY {
    composes: circle;
    background-color: #4131ff;
  }
  
  .CONTRIBUTOR {
    composes: circle;
    background-color: #f8d270;
  }
  
  .ACTIVITY {
    composes: circle;
    background-color: #ff5386;
  }
  