.input {
  padding: var(--padding-button);
  border: none;
  outline: none;
  border-radius: var(--border-radius-large);
  height: 40px;
  width: 100%;
}

.input:focus {
  box-shadow: var(--box-shadow-blue-hard);
}

.light {
  composes: input;
}

.dark {
  composes: input;
  background: var(--background-radial-gradient);
}

.dark:focus {
  box-shadow: none;
  background: var(--highlight-active-10);
}
