.wrapper {
  width: 100%;
}

.input {
  padding: 5px;
  border: none;
  height: 40px;
  width: 100%;
  border: 1px solid var(--neutral-100);
  background: var(--background-fieldset);
}

.errorInput {
  composes: input;
  border: 1px solid var(--highlight-alert-100);
}

.label {
  font-size: 15px;
  color: var(--neutral-100);
}

.errorLabel {
  composes: label;
  color: var(--highlight-alert-100);
}

.errorMessage {
  color: var(--highlight-alert-100);
}
