.wrapper {
  width: 100%;
  background: var(--background-white);
  position: relative;
  overflow: hidden;
}

.info {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 70px 1fr;
  font-size: var(--font-small);
  margin: 1.2rem 0 2.2rem 0;
}

.info > p {
  line-height: 1.6rem;
  margin-left: 1rem;
}

.wrapper > button {
  position: absolute;
  bottom: -18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.wrapper > button > svg {
  stroke: var(--highlight-clickable-100);
  transform: rotate(180deg);
  margin-bottom: 0.15em;
}

@media screen and (max-width: 710px) {
  .info {
    grid-column: span 12;
  }
}
