.wrapper {
  margin-top: 20px;
}

.nftInfo {
  margin: 20px 0;
}

.nftInfoText {
  font-family: var(--serif);
  font-size: var(--font-medium);
  line-height: var(--line-height);
  margin: 8px 0;
  white-space: nowrap;
}

.nftInfoText a {
  color: var(--highlight-clickable-100);
  text-decoration: none;
}

.nftInfoText a:focus,
.nftInfoText a:hover {
  color: var(--highlight-clickable-100);
  text-decoration: none;
}
