.wrapper {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.tooltip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin var(--neutral) solid;
  background-color: var(--background-white);
  font-weight: bold;
  border-radius: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.tooltip {
  border: thin var(--neutral) solid;
  background-color: var(--background-white);
  padding: 1rem;
  border-radius: var(--border-radius-small);
  max-width: 30em;
}
