.button {
  background-color: var(--highlight-clickable-10);
  color: var(--highlight-clickable-100);
  border: thin var(--highlight-clickable-100) solid;
  border-radius: var(--border-radius-large);
  padding: var(--padding-button);
  width: 100%;
  line-height: 1.6;
  cursor: pointer;
  font-size: var(--font-large);
}

.button:disabled {
  color: var(--foreground-text-50);
  background: var(--background-white);
  border: thin var(--foreground-text-10) solid;
  cursor: not-allowed;
}
