.button {
  border: none;
  border-radius: var(--border-radius-large);
  padding: var(--padding-button);
  width: 100%;
  line-height: 1.6;
  cursor: pointer;
  font-size: var(--font-large);
}

.primary {
  composes: button;
  background: linear-gradient(
    180deg,
    var(--highlight-clickable-5) 50%,
    var(--highlight-clickable-7) 100%
  );
  color: var(--highlight-clickable-100);
}

.primary:hover,
.primary:focus {
  background: var(--highlight-clickable-10);
}

.primary-dark-bg {
  composes: button;
  background: linear-gradient(
    180deg,
    var(--highlight-clickable-7) 50%,
    var(--highlight-clickable-10) 100%
  );
  color: var(--highlight-clickable-100);
}

.primary-dark-bg:hover,
.primary-dark-bg:focus {
  background: var(--highlight-clickable-20);
}
.secondary {
  composes: button;
  background: linear-gradient(
    180deg,
    var(--highlight-visited-5) 50%,
    var(--highlight-visited-7) 100%
  );
  color: var(--highlight-visited-100);
}

.secondary:hover,
.secondary:focus {
  background: var(--highlight-visited-10);
}

.tertiary {
  composes: button;
  background: linear-gradient(
    180deg,
    var(--neutral-5) 50%,
    var(--neutral-10) 100%
  );
  color: var(--neutral-100);
}

.tertiary:hover,
.tertiary:focus {
  background: var(--neutral-10);
}

.quaternary {
  composes: button;
  background: var(--background-white);
  color: var(--neutral-100);
}

.quaternary:hover {
  background: var(--highlight-active-20);
}

.highlight {
  composes: button;
  background: linear-gradient(
    180deg,
    var(--highlight-active-5) 50%,
    var(--highlight-active-10) 100%
  );
  background: var(--highlight-active-10);
}

.highlight:hover {
  background: var(--highlight-active-20);
}

.white {
  composes: button;
  background: var(--background-white);
}

.highlight:hover,
.highlight:focus {
  background: var(--highlight-active-20);
}

.button:disabled {
  color: var(--neutral-50);
  background: var(--neutral-5);
  cursor: not-allowed;
}

.button-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  width: 100%;
  line-height: 1.6;
  font-size: var(--font-large);
  border-radius: var(--border-radius-large);
  position: relative;
}

.button-completed-message {
  font-size: var(--font-medium);
}

.button-completed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--highlight-visited-10);
  border-radius: 1rem;
  position: absolute;
  z-index: 50;
  left: 1rem;
  cursor: default;
  user-select: none;
}

.button-link {
  text-align: center;
  display: inline-block;
}

.primary.button-link:visited {
  color: var(--highlight-clickable-100);
}

.text-button {
  border: none;
  background: none;
  cursor: pointer;
}

.text-button-neutral {
  composes: text-button;
  color: var(--neutral-100);
}

.text-button-clickable {
  composes: text-button;
  color: var(--highlight-clickable-100);
}

.text-button-visited {
  composes: text-button;
  color: var(--highlight-visited-100);
}

.text-button-active {
  composes: text-button;
  color: var(--highlight-active-50);
}

.text-button-alert {
  composes: text-button;
  color: var(--highlight-alert-100);
}

.text-button-success {
  composes: text-button;
  color: var(--highlight-success-100);
}
