/* 
 * This file is not called "DisplayAddress" because adblockers will black hole
 * things with the class "^DisplayAd"
 */
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
