.bubble {
  text-transform: uppercase;
  color: black;
  font-size: var(--font-small);
  padding: 4px 10px;
  border-radius: var(--border-radius-small);
}

.bubble > span {
  text-transform: lowercase;
}

.borrowerBubble {
  composes: bubble;
  background: var(--highlight-active-10);
}

.lenderBubble {
  composes: bubble;
  background: var(--neutral-30);
}
