.profile-header-wrapper {
  background: var(--background-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: var(--gap);
  padding: var(--gap) 0;
}

/* Bit of a hack to make sure the 2 <dl>s line up nicely */
.profile-header-wrapper dt,
.profile-header-wrapper dd {
  width: 500px;
}

.profileHeaderRows {
  width: 50%;
  margin: 30px 0;
}

.three-column-wrapper {
  padding: 30px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.three-column-wrapper > a {
  width: 30%;
}
