.profile-header-wrapper {
  background: var(--background-white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap) 0;
}

.profile-header-wrapper > div {
  max-width: var(--max-width);
}

.profile-header-wrapper fieldset {
  grid-column: span 4;
  max-width: 100%;
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}

.profile-header-wrapper fieldset button {
  padding: 0;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .profile-header-wrapper {
    padding: 0;
  }
  .profile-header-wrapper fieldset {
    grid-column: span 12;
    padding: 20px 0;
  }
}
