.profileHeaderWrapper {
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profileHeaderRows {
    width: 50%;
    margin: 30px 0;
}

.headerRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0;
}

.leftSide {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    text-align: right;
    width: 40%;
}

.gutter {
    width: 20%;
}

.rightSide {
    display: flex;
    justify-content: start;
    width: 40%;
}

.profileHeaderRows {
    font-size: var(--font-medium);
}

.bubble {
    font-size: var(--font-small);
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
}

.borrowerBubble {
    background: var(--highlight-active-10);
}

.lenderBubble {
    background: var(--neutral-30);
}

.threeColumnWrapper {
    padding: 30px 120px;
}

.amountsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.amount {
    margin: 0 2px;
}