/* Note: this styling is not compatible with "multiple terms, single definition". */
.horizontal {
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  column-gap: var(--gap);
  align-items: center;
}

.clamped {
  grid-template-columns: var(--column-width) 1fr;
}

.horizontal,
.vertical {
  margin: 0;
}

.horizontal > dd,
.vertical > dd {
  margin: 0;
  line-height: 32px;
}

.horizontal > dt,
.vertical > dt {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-small);
  font-family: var(--sans);
  letter-spacing: 0.12rem;
  line-height: 32px;
}

.horizontal > dt {
  text-align: right;
}

.vertical > dt {
  margin-bottom: -0.75rem;
}
