.explainer {
  position: absolute;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-blue);
  padding: 16px 21px;
  align-self: start;
  font-family: var(--sans);
  background: var(--background-white);
  transition: top 0.5s ease 0s;
  z-index: 2;
}

.explainer-error {
  composes: explainer;
  box-shadow: var(--box-shadow-red);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.explainer-container {
  position: relative;
}

.lend-terms-unfocused > div:not(:first-child) {
  margin-top: var(--gap);
}

.lend-terms-unfocused > div:not(:last-child) {
  margin-bottom: var(--gap);
}

/* TODO: come up with a way to provide explainer content in mobile view. */
@media screen and (max-width: 700px) {
  .explainer {
    display: none;
  }
}
