.explainer {
  position: absolute;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-blue);
  padding: var(--padding-loan-card);
  align-self: start;
  font-family: var(--sans);
  background: var(--background-white);
  transition: top 0.5s ease 0s;
  z-index: 2;
}

.explainer-error {
  composes: explainer;
  box-shadow: var(--box-shadow-red);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.explainer-container {
  position: relative;
}

@media screen and (max-width: 400px) {
  .explainer {
    display: none;
  }
}
