.submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  width: 100%;
  border: thin var(--highlight-visited-100) solid;
  border-radius: var(--border-radius-large);
  background-color: var(--highlight-visited-10);
  color: var(--highlight-visited-100);
  line-height: 1.6;
  font-size: var(--font-large);
}
