.wrapper {
  width: 330px;
  border: 2px solid #0000ee;
}

.errorWrapper {
  composes: wrapper;
  border: 2px solid #d12424;
}

.input {
  padding: 5px;
  border: none;
  height: 40px;
  width: 100%;
}

.label {
  margin-bottom: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #0000ee;
}

.errorLabel {
  composes: label;
  color: #d12424;
}

.errorMessage {
  color: #d12424;
}
