/* https://reneroth.xyz/marquees-in-css/ */
.container {
  overflow: hidden;
  white-space: nowrap;
  align-items: stretch;
  position: absolute;
  left: 0;
  right: 0;
}

.scrolling {
  text-align: center;
  animation: marquee 15s linear infinite;
  display: inline-block;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    var(--foreground-text-100) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.paused {
  animation-play-state: paused;
}

.wrapper > * {
  background: var(--background-light);
  margin: 0 2rem;
  padding: 0 0.25rem;
}
