.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: thin var(--foreground-text-100) solid;
  border-radius: var(--border-radius-small);
  padding: var(--padding-container);
  gap: 0.66rem;
  background: var(--background-fieldset);
}

.attributes {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.attributes > span {
  border: thin var(--foreground-text-10) solid;
  border-radius: var(--border-radius-small);
  background-color: var(--background-white);
  padding: 0 0.375rem;
  font-size: var(--font-small);
  color: var(--foreground-text-100);
  line-height: 1.2rem;
}

.loading-media {
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  background-color: var(--foreground-text-10);
}
