.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-small);
  padding: var(--padding-loan-card);
  gap: 0.66rem;
  background: var(--background-fieldset);
  box-shadow: var(--box-shadow);
}

.attributes {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.attributes > span {
  border: thin var(--neutral-20) solid;
  border-radius: var(--border-radius-small);
  background-color: var(--background-white);
  padding: 0 0.375rem;
  font-size: var(--font-small);
  color: var(--neutral-100);
  line-height: 1.2rem;
  white-space: nowrap;
}

.loading-media {
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  background-color: var(--neutral-20);
}

span.borrower {
  text-transform: uppercase;
  background: var(--highlight-active-10);
}

span.lender {
  text-transform: uppercase;
  background: var(--neutral-30);
}
