.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-small);
  padding: var(--padding-loan-card);
  gap: 0.66rem;
  background: var(--background-fieldset);
}

.profile-card {
  composes: card;
  padding: 0;
  background-color: transparent;
}

.profile-card dl {
  color: var(--neutral-100);
}

.stacked-entry {
  display: inline-block;
  width: 50%;
}

.profile-card-attributes {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: var(--padding-loan-card);
  background-color: var(--background-fieldset);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  padding-top: 65px;
}

.relationship {
  background-color: var(--highlight-active-10);
  padding: 0 0.5rem;
  color: var(--neutral-100);
  align-self: flex-start;
  text-transform: uppercase;
  font-size: var(--font-small);
  letter-spacing: 0.125rem;
}

.attributes {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.attributes > span {
  border: thin var(--neutral-20) solid;
  border-radius: var(--border-radius-small);
  background-color: var(--background-white);
  padding: 0 0.375rem;
  font-size: var(--font-small);
  color: var(--neutral-100);
  line-height: 1.2rem;
  white-space: nowrap;
}

.media {
  height: 100%;
  margin-bottom: -55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.media > * {
  max-height: 350px;
}

.loading-media {
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  background-color: var(--neutral-20);
  position: relative;
  top: 55px;
}

.link {
  grid-column: span 3;
}

.profile-link {
  grid-column: span 4;
}

@media screen and (max-width: 700px) {
  .link,
  .profile-link {
    grid-column: span 12;
  }
}
