.button-container {
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--gap);
}

.button-container > button {
  width: auto;
}
