.base-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.wrapper {
  composes: base-wrapper;
  margin-top: var(--gap);
}

.form-wrapper {
  composes: base-wrapper;
  margin-top: calc(var(--gap) / 2);
}

.insufficient-funds {
  color: var(--highlight-alert-100);
}

@media screen and (max-width: 700px) {
  .base-wrapper {
    grid-template-columns: 1fr;
  }

  .disclosure-text-wrapper {
    width: 100%;
  }
}

.disclosure-text-wrapper {
  text-align: left;
  padding-top: 1.75rem;
  width: 50%;
  font-size: var(--font-medium);
  line-height: 2rem;
}

.disclosure-text {
  color: var(--highlight-clickable-100);
  cursor: pointer;
}