.centerAlignedRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nftPicker {
  width: 100%;
  justify-content: center;
  padding: var(--padding-container);
}

.selectButton {
  width: 99%;
  text-align: center;
  font-size: var(--font-large);
  border-bottom: 1px solid var(--foreground-text-100);
  padding-bottom: 20px;
}

.nftCollectionRow {
  justify-content: space-between;
  margin: 16px 0;
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  line-height: var(--line-height);
  cursor: pointer;
}

.nftCollectionNameAndIcon {
  max-width: 60%;
}

.collectionName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.break {
  width: 99%;
  background: var(--foreground-text-100);
  height: 1px;
  border: none;
  margin: 0;
}

.number {
  font-family: var(--sans);
  font-weight: var(--weight-semibold);
  font-size: var(--font-large);
  line-height: var(--line-height);
}

.caret {
  display: flex;
  align-items: center;
  font-family: SF Compact Display;
  margin: 0 6px;
  transition: transform 0.3s ease-in-out;
}

.caretOpen {
  transform: rotate(90deg);
}

.nftGridWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridOpen {
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
  max-height: 2000px;
}

.gridClosed {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
}

.nftGridItem {
  width: calc((var(--modal-width) - (var(--padding-container) * 4) - 2px) / 3);
  margin: calc(var(--padding-container) / 2);
  box-sizing: border-box;
}

.nftGridItem:nth-child(3n + 1) {
  margin-left: 0px;
}

.nftGridItem:nth-child(3n) {
  margin-right: 0px;
}


.itemOpened {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

.itemClosed {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
}
