.centerAlignedRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nftPicker {
  width: 100%;
  justify-content: center;
  padding: var(--padding-container);
}

.selectButton {
  width: 99%;
  text-align: center;
  border-bottom: 1px solid var(--foreground-text-100);
  padding-bottom: 20px;
}

.nftCollectionRow {
  justify-content: space-between;
  margin: var(--padding-container) 0;
  line-height: var(--line-height);
  cursor: pointer;
}

.collectionRowWrapper:last-child .nftCollectionRow {
  margin-bottom: 0px;
}

.nftCollectionNameAndIcon {
  max-width: 60%;
}

.collectionName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}

.break {
  width: 99%;
  background: var(--foreground-text-100);
  height: 1px;
  border: none;
  margin: 0;
}

.collectionRowWrapper:last-child .break {
  height: 0px;
}

.caret {
  display: flex;
  align-items: center;
  margin: 0 6px;
  transition: transform 0.3s ease-in-out;
}

.caretOpen {
  transform: rotate(90deg);
}

.nftGridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--padding-container);
  row-gap: var(--padding-container);
}

.gridOpen {
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
  max-height: 2000px;
}

.gridClosed {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
}

.nftGridItem {
  box-sizing: border-box;
}

.nftGridItem:last-child {
  margin-bottom: var(--padding-container);
}

.collectionRowWrapper:last-child .nftGridItem:first-child {
  margin-top: var(--padding-container);
}

.itemOpened {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

.itemClosed {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
}
