.wrapper > fieldset {
  border-radius: var(--border-radius-large);
  max-width: 715px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list > li {
  margin: 8px 0;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
}

.COMMUNITY {
  composes: circle;
  background-color: #4131ff;
}

.CONTRIBUTOR {
  composes: circle;
  background-color: #f8d270;
}

.ACTIVITY {
  composes: circle;
  background-color: #ff5386;
}
