.dialog {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  background: var(--background-white);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  margin: 0 auto 1rem;
}

.regular {
  width: var(--modal-width-regular);
}

.narrow {
  width: var(--modal-width-narrow);
}

.scroll-box {
  height: 100%;
  overflow-y: auto;
  max-height: 100vh;
  margin: var(--padding-container);
}

.heading {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .regular,
  .narrow {
    width: 100vw;
  }

  .dialog {
    top: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
  }

  .scroll-box {
    height: auto;
  }
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.65);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}
