.dialog {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  background: var(--background-white);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  margin: 0 auto 1rem;
}

.regular {
  width: var(--modal-width-regular);
}

.narrow {
  width: var(--modal-width-narrow);
}

.scroll-box {
  height: 100%;
  overflow-y: auto;
  max-height: var(--modal-height);
  margin: var(--padding-container);
}

.heading {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .regular,
  .narrow {
    width: 100vw;
  }
}
