.dialog {
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--background-white);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.regular {
  width: var(--modal-width-regular);
}

.narrow {
  width: var(--modal-width-narrow);
}

.scroll-box {
  height: 100%;
  overflow-y: auto;
  max-height: var(--modal-height);
  margin: var(--padding-container);
}

.heading {
  width: 100%;
  text-align: center;
}
