.loanDurationCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loanDurationCard p {
  font-size: 16px;
}

.dateBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.dateNumber {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  font-style: normal;
  font-family: Inter, Helvetica;
  font-size: 20px;
  background: white;
  margin-bottom: 6px;
}
