.media-content {
  width: 100%;
  aspect-ratio: 1/1;
}

.fallback {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(5vw, calc(var(--max-width) / 20));
  background: #f7f3f1;
}

.fallback-animated {
  composes: fallback;
  background-image: linear-gradient(
    110deg,
    #f7f3f1 0%,
    #f7f3f1 30%,
    #fefaf8 50%,
    #f7f3f1 70%,
    #f7f3f1 100%
  );
  background-repeat: no-repeat;
  background-size: 600px 600px;
  position: relative;
  animation-duration: 1600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.smallback {
  composes: fallback;
  font-size: calc(var(--max-width) / 40);
}

.fallback > span {
  opacity: 20%;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}
