.header {
  width: 100%;
  padding: 0 40px;
  background: var(--background-white);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.mobile-header {
  width: 100%;
  background: var(--background-white);
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr;
  padding: 1rem 0;
  gap: 1.5rem;
  overflow: hidden;
}

.link {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flipped-link {
  composes: link;
}

.link {
  height: 70px;
}

.flipped-link {
  transform: rotateX(180deg);
}

.pawn {
  grid-column: span 3;
  align-self: center;
}

.connect-wallet {
  grid-column: span 3;
  align-self: center;
  max-width: 100%;
}

.sausage-links {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.sausage-links > * {
  flex: 0 0 75%;
}

.sausage-links > div[class^='ConnectWallet'] {
  overflow: hidden;
}

@media screen and (max-width: 955px) {
  .link {
    grid-column: span 4;
  }

  .pawn {
    grid-column: span 4;
  }

  .connect-wallet {
    grid-column: span 4;
  }
}

@media screen and (min-width: 711px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .header {
    display: none;
  }
}
