.header {
  width: 100%;
  padding: 0 40px;
  background: var(--background-white);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.top-row {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  max-width: var(--max-width-header);
  width: 100%;
  align-items: center;
}

.link {
  grid-column: col-start 5 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-large);
}

.link:visited {
  color: var(--neutral-100);
}

.pawn {
  grid-column: col-start / span 3;
  align-self: center;
}

.connect-wallet {
  grid-column: col-start 10 / span 3;
  align-self: center;
  max-width: 100%;
}
