.header {
  width: 100%;
  padding: 0 40px;
  background: var(--background-white);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.mobile-header {
  width: 100%;
  background: var(--background-white);
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr;
  padding: 1rem 0;
  gap: 1.5rem;
  overflow: hidden;
}

.link {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flipped-link {
  composes: link;
}

.link {
  height: 70px;
}

.flipped-link {
  transform: rotateX(180deg);
}

.pawn {
  grid-column: span 3;
  align-self: center;
}

.connect-wallet {
  grid-column: span 4;
  align-self: center;
  max-width: 100%;
  display: flex;
  gap: 18px;
}

.connect-wallet > button,
.connect-wallet a {
  max-width: 50%;
}

.sausage-links {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.sausage-links > * {
  flex: 0 0 75%;
}

.sausage-links > div[class^='ConnectWallet'] {
  overflow: hidden;
}

@media screen and (max-width: 955px) {
  .link {
    grid-column: span 3;
  }

  .pawn {
    grid-column: span 4;
  }

  .connect-wallet {
    grid-column: span 4;
  }
}

@media screen and (min-width: 711px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .header {
    display: none;
  }
}

.banner-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header-info-wrapper {
  width: 100%;
  background: var(--background-white);
  position: relative;
}

.header-info-wrapper > button {
  position: absolute;
  bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 12px;
}

.header-info-wrapper > button > svg {
  stroke: var(--highlight-clickable-100);
  transform: rotate(180deg);
  margin-bottom: 0.15em;
}
