.loan-header {
  display: flex;
  width: 100%;
  background: var(--background-white);
  justify-content: center;
  padding-bottom: 90px;
  padding-top: calc(var(--gap) / 2);
}

.loan-header > div {
  max-width: var(--max-width);
}

.stack {
  display: flex;
  flex-direction: column;
}

.conversion {
  font-size: var(--font-small);
  line-height: var(--font-small);
  color: var(--highlight-success-100);
}

.red {
  color: var(--highlight-alert-100);
}

.media {
  grid-column: col-start / span 4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form {
  grid-column: col-start 5 / -1;
}

@media screen and (max-width: 700px) {
  .media,
  .form {
    grid-column: span 12;
  }

  .loan-header {
    padding: calc(var(--gap) / 4) 0;
  }
}
