.event-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.event-header {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.event-header > a {
  text-decoration: none;
}

.event-header::after {
  padding-left: 1ch;
  content: '🔗';
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
