.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
  margin: 0 50px;
}

@media (max-width: 65em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 42em) {
  .grid {
    grid-template-columns: 1fr;
  }
}
