.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (max-width: 65em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    /* On narrower viewports we shouldn't take up too much space. */
    gap: 1rem;
  }
}

@media (max-width: 42em) {
  .grid {
    grid-template-columns: 1fr;
  }
}
