.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  width: 100%;
}

@media (max-width: 42em) {
  .grid {
    /* On mobile devices we only want one column. */
    grid-template-columns: 1fr;
  }
}
