.nfte__media {
    margin: auto;
    aspect-ratio: 1/1;
}

.collateral-media{
    max-height: 400px;
    padding: 5px;
}

.collateralDetails{
    font-family: Helvetica;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

#collateralTitle{
    font-weight: 700;
}
