#create-ticket-form{
    padding: 20px;
}

#create-ticket-explainer{
    padding: 20px;
}

#create-explainer-fieldset{
    margin-left: 25px;
}

#create-ticket-form>.input-wrapper{
    margin-left: 0px;
}

#create-ticket-form>div>.input-wrapper{
    margin-left: 0px;
}

#create-ticket-form>div{
    margin-left: 0px;
}