@font-face {
  font-family: 'GT Maru Regular';
  src: url('https://with-backed-site-fonts.s3.amazonaws.com/GT-Maru-Regular.woff')
      format('woff'),
    url('https://with-backed-site-fonts.s3.amazonaws.com/GT-Maru-Light.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Mono';
  src: url('https://with-backed-site-fonts.s3.amazonaws.com/GT-Maru-Mono-Regular.woff')
      format('woff'),
    url('https://with-backed-site-fonts.s3.amazonaws.com/GT-Maru-Mono-Regular-Oblique.woff')
      format('woff'),
    url('https://with-backed-site-fonts.s3.amazonaws.com/GT-Maru-Mono-Bold.woff')
      format('woff');
  font-display: swap;
}
