:root {
  /* colors */
  --foreground-text-100: #111111;
  --foreground-text-50: #ab9b96;
  --foreground-text-10: #e6ded6;
  --highlight-clickable-100: #0000ee;
  --highlight-clickable-10: #e8e5f1;
  --highlight-visited-100: #75187c;
  --highlight-visited-10: #eadde5;
  --highlight-active-10: #fffed1;
  --highlight-alert-100: #ff4545;
  --highlight-alert-10: #ffd1d1;

  /* layout */
  --max-width: 1400px;
  --line-height: 1.6;

  /* padding and gaps */
  --padding-button: 1rem;
  --padding-container: 1.43rem;
  --gap: 2.86rem;

  /* backgrounds */
  --background-radial-gradient: radial-gradient(#ffffff, #f6f2f0);
  --background-fieldset: rgba(255, 255, 255, 0.8);
  --background-light: #f9f7f5;
  --background-white: #ffffff;

  /* border styles */
  --border-radius-small: 0.3rem;
  --border-radius-large: 0.86rem;

  /* font styles */
  --serif: 'Times New Roman', Times, serif;
  --sans: Inter, Helvetica, sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semibold: 600;
  --font-small: 0.715rem;
  --font-medium: 1.125rem;
  --font-large: 1.43rem;
  --font-huge: 2.6rem;

  /* component specific dimensions */
  --modal-width: 580px;
  --modal-height: 580px;
}

html,
body {
  font-family: var(--sans);
  line-height: var(--line-height);
  font-size: 14px;
  font-weight: var(--weight-regular);
  background: var(--background-radial-gradient);
  min-height: 100vh;
}

body {
  padding: 0 40px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-huge);
  font-weight: var(--weight-light);
}

a {
  color: var(--highlight-clickable-100);
}

a:visited {
  color: var(--highlight-visited-100);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
