#ticket-page-wrapper{
    width: 95%;
    margin: auto;
    padding-bottom: 200px;
}
.pawn-art{
    height: 400px;
    width: 400px;
    background-color: #F7F7F7;
    margin-bottom: 45px;
}

#gallery-button{
    width: 150px
}

#loading-box{
    background-color: white;
    height: 400px;
    width: 400px;
    padding: 100px;
    position: fixed;
    margin-left: 32%;
    margin-top: 20%;
    box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.50);
}


#left-elements-wrapper{
    width: 400px;
}

.event-details {
    margin-bottom: 15px;
}
.event-details>p{
    margin: 0px;
}

.pawn-art-owned-by{
    /* padding: 1px; */
    padding: 0px 2px 0px 2px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-top: 5px;
}

.pawn-art-owned-by>a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}