.event-list {
  grid-column: span 12;
  list-style-type: none;
  background-color: var(--background-white);
  padding: var(--padding-loan-card);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event {
  display: grid;
  grid-template-columns: 0.35fr 70px 1fr;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
}

.event-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event-link > span {
  font-size: var(--font-small);
}

.highlight-address {
  padding: 0.25rem;
  background-color: var(--highlight-active-10);
}

.description {
  font-size: var(--font-small);
}
