.table {
  width: 100%;
  background: var(--background-white);
  border-collapse: collapse;
  grid-column: 1 / -1;
  box-shadow: var(--box-shadow);
  margin-top: var(--gap);
  table-layout: fixed;
}

.table th {
  text-align: left;
  font-weight: 400;
  font-size: var(--font-small);
  text-transform: uppercase;
}

/* kind of hacky, makes the column sort of line up with stats in header */
.table th:last-of-type {
  width: 48.5%;
}

/* truncate address */
.table th:first-of-type {
  width: 10%;
}

/* clamp down link to etherscan */
.table th:nth-of-type(2) {
  width: 15%;
}

.table tr {
  border: 10px solid #fff;
}

.table td,
.table th {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.bubble {
  font-size: var(--font-small);
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
}

.Lender {
  composes: bubble;
  background-color: var(--neutral-30);
}

.Borrower {
  composes: bubble;
  background-color: var(--highlight-active-10);
}

.event-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.collateral {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 1rem;
  align-items: center;
  color: var(--neutral-100);
}

.collateral:visited {
  color: var(--neutral-100);
}

.collateral:hover {
  background-color: var(--highlight-clickable-5);
  cursor: pointer;
}

.collateral:hover .name {
  color: var(--highlight-clickable-100);
}

.name-and-collection {
  display: flex;
  flex-direction: column;
}

.collection {
  font-size: var(--font-small);
  text-transform: uppercase;
}

.right,
th.right {
  text-align: right;
}

.profile-owner {
  background-color: var(--highlight-active-10);
}
