.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--gap);
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.padded-grid {
  composes: grid;
  padding: var(--gap) 0;
}

@media screen and (max-width: 400px) {
  .grid {
    gap: 0;
    row-gap: 20px;
    padding: 20px;
  }
}
